.font-barlow {
  font-family: "barlow", sans-serif;
}

.font-shareTech {
  font-family: "Share Tech Mono", monospace;
}

.darkMode {
  background-color: #212529;
  color: #F8F9FA;
}

.lightMode {
  background-color: #F8F9FA;
  color: #212529;
}

.bolt-green {
  color: #29ff1a;
}

.bolt-red {
  color: #e5383b;
}

.h1 {
  font-size: 2rem;
}

.h2 {
  font-size: 1.5rem;
}

.h3 {
  font-size: 1rem;
}

.p1 {
  font-size: 2rem;
}

.p2 {
  font-size: 1.5rem;
}

.p3 {
  font-size: 1rem;
}

.fw-100 {
  font-weight: 100;
}

.fw-200 {
  font-weight: 200;
}

.fw-300 {
  font-weight: 300;
}

.fw-400 {
  font-weight: 400;
}

.fw-500 {
  font-weight: 500;
}

.fw-600 {
  font-weight: 600;
}

.fw-700 {
  font-weight: 700;
}

.fw-800 {
  font-weight: 800;
}

.fw-900 {
  font-weight: 900;
}

.italic {
  font-style: italic;
}

.link-nostyle {
  text-decoration: none;
  color: inherit;
}

.link-underline {
  text-decoration: underline;
  color: inherit;
}

.link-colored {
  text-decoration: none;
  color: #2287c9;
}

.gradient-heading {
  background: linear-gradient(-45deg, #b2ff20, #e63946, #2f6690, #e63946);
  background-size: 200% 200%;
  -webkit-background-clip: text;
  color: #212529;
  -webkit-text-stroke: 4px transparent;
}

*,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  transition: all 0.1s ease;
}

body,
html {
  overflow-x: hidden;
}

body,
html,
head,
header,
footer,
p,
i,
span,
a,
object,
li,
ul,
h1,
h2,
h3,
h4,
h5,
h6,
div,
section,
table,
thead,
th,
tbody,
tr,
td,
input,
label,
button,
textarea,
strong,
aside,
center,
dd,
dl,
dt,
em,
embed,
iframe,
big,
br,
link,
meta,
marquee,
ol,
option,
select,
small,
strike,
title,
tt,
u,
video {
  -webkit-font-smoothing: antialiased;
}

.main-wrapper {
  width: 100%;
  max-width: 1024px;
  height: auto;
  margin: 0 auto;
  padding: 1rem 1rem;
}
