*,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  transition: all 0.1s ease;
}

body,
html {
  overflow-x: hidden;
}

body,
html,
head,
header,
footer,
p,
i,
span,
a,
object,
li,
ul,
h1,
h2,
h3,
h4,
h5,
h6,
div,
section,
table,
thead,
th,
tbody,
tr,
td,
input,
label,
button,
textarea,
strong,
aside,
center,
dd,
dl,
dt,
em,
embed,
iframe,
big,
br,
link,
meta,
marquee,
ol,
option,
select,
small,
strike,
title,
tt,
u,
video {
  -webkit-font-smoothing: antialiased;
}

.font-barlow {
  font-family: "barlow", sans-serif;
}

.font-shareTech {
  font-family: "Share Tech Mono", monospace;
}

.darkMode {
  background-color: #212529;
  color: #f8f9fa;
}

.lightMode {
  background-color: #f8f9fa;
  color: #212529;
}

.bolt {
  animation: animate-bolt 2s infinite;
  animation-timing-function: ease-in-out;
}

@keyframes animate-bolt {
  0% {
    color: #29ff1a;
  }

  100% {
    color: #2287c9;
  }
}

.h1 {
  font-size: 2rem;
}

.h2 {
  font-size: 1.5rem;
}

.h3 {
  font-size: 1rem;
}

.p1 {
  font-size: 2rem;
}

.p2 {
  font-size: 1.5rem;
}

.p3 {
  font-size: 1rem;
}

.fw-100 {
  font-weight: 100;
}

.fw-200 {
  font-weight: 200;
}

.fw-300 {
  font-weight: 300;
}

.fw-400 {
  font-weight: 400;
}

.fw-500 {
  font-weight: 500;
}

.fw-600 {
  font-weight: 600;
}

.fw-700 {
  font-weight: 700;
}

.fw-800 {
  font-weight: 800;
}

.fw-900 {
  font-weight: 900;
}

.italic {
  font-style: italic;
}

.link-nostyle {
  text-decoration: none;
  color: inherit;
  width: fit-content;
}

.link-underline {
  text-decoration: underline;
  color: inherit;
  width: fit-content;
}

.link-colored {
  text-decoration: none;
  color: #2287c9;
  width: fit-content;
}

.link-colored:hover i {
  margin: 0 0 0 0.5rem;
}

.gradient-heading {
  background: linear-gradient(-45deg, #b2ff20, #e63946, #2f6690, #e63946);
  background-size: 200% 200%;
  -webkit-background-clip: text;
  color: #212529;
  -webkit-text-stroke: 4px transparent;
}

.badge {
  background-color: #343a40;
  border-radius: 0.5rem;
  padding: 0.25rem 0.5rem;
  text-align: center;
  color: #e9ecef;
}

.checkbox {
  opacity: 0;
  position: absolute;
}

.checkbox-label {
  background-color: #111;
  width: 50px;
  height: 26px;
  border-radius: 50px;
  position: relative;
  padding: 5px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.fa-moon {
  color: #f1c40f;
}

.fa-sun {
  color: #f39c12;
}

.checkbox-label .ball {
  background-color: #fff;
  width: 22px;
  height: 22px;
  position: absolute;
  left: 2px;
  top: 2px;
  border-radius: 50%;
  transition: transform 0.2s linear;
}

.checkbox:checked+.checkbox-label .ball {
  transform: translateX(24px);
}

.main-wrapper {
  width: 100%;
  max-width: 1024px;
  height: auto;
  margin: 0 auto;
  padding: 1rem 1rem;
}

.intro-section p,
.intro-section .location-availability {
  margin: 1rem 0 0 0;
}

.intro-section .location-availability {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.intro-section .sections-list {
  list-style: none;
  margin: 2rem 0 0 0;
}

.intro-section .sections-list li {
  margin: 0 0 0.5rem 0;
}

.projects-section .project-details {
  margin: 1rem 0 0 0;
  padding: 0 0 0 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.projects-section .project-details .proj-title {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .h1 {
    font-size: 3rem;
  }
}
