.font-barlow {
  font-family: "barlow", sans-serif;
}

.font-shareTech {
  font-family: "Share Tech Mono", monospace;
}

.darkMode {
  background-color: #212529;
  color: #F8F9FA;
}

.lightMode {
  background-color: #F8F9FA;
  color: #212529;
}

.bolt-green {
  color: #29ff1a;
}

.bolt-red {
  color: #e5383b;
}

*,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  transition: all 0.1s ease;
}

body,
html {
  overflow-x: hidden;
}

body,
html,
head,
header,
footer,
p,
i,
span,
a,
object,
li,
ul,
h1,
h2,
h3,
h4,
h5,
h6,
div,
section,
table,
thead,
th,
tbody,
tr,
td,
input,
label,
button,
textarea,
strong,
aside,
center,
dd,
dl,
dt,
em,
embed,
iframe,
big,
br,
link,
meta,
marquee,
ol,
option,
select,
small,
strike,
title,
tt,
u,
video {
  -webkit-font-smoothing: antialiased;
}
