*,
body {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body,
html {
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body,
html,
head,
header,
footer,
p,
i,
span,
a,
object,
li,
ul,
h1,
h2,
h3,
h4,
h5,
h6,
div,
section,
table,
thead,
th,
tbody,
tr,
td,
input,
label,
button,
textarea,
strong,
aside,
center,
dd,
dl,
dt,
em,
embed,
iframe,
big,
br,
link,
meta,
marquee,
ol,
option,
select,
small,
strike,
title,
tt,
u,
video {
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
}